.cal-row__item {
    padding: 15px;
    border: 1px solid black;
    width:100%;
    height: auto;
    background: rgb(255 97 0 / 82%);
    margin: 5px;
    border-radius: 40px;
    min-width: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cal-row__item__zero-item {
    padding: 15px;
    border: 1px solid black;
    width:100%;
    height: auto;
    background: rgb(255 97 0 / 82%);
    margin: 5px;
    border-radius: 40px;
    min-width: 30px;
    font-weight: bold;
    min-width: 100px;
    text-align: left;
    cursor: pointer;
}